header {
    height: 55px;
    width: 100%;
}
.nav {
    height: 55px;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 99;
}

.nav a:hover {
    font-size: large;
    
}

.heroSection {
    top: 55px;
    height: calc(100vh - 55px);
    width: 100%;
    background-image: url("../img/landingPageImg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    
}

.heroSection > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutSection {
    height: 100vh;
    width: 100%;

}

.educationSection {
    height: 100vh;
    width: 100%;
}

.technologySection {
    height: 100vh;
    width: 100%;
}

.image {
    height: 120px;
    width: 120px;
    padding-top: 10px;

}


.projectSection {
    height: 100vh;
    width: 100%;
}

.certificationSection {
    height: 100vh;
    width: 100%;
}

.contactSection {
    height: 100vh;
    width: 100%;
}

footer {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}